# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: docker build -t ghcr.io/kirom123/380python-app:1.0 ./python
      - run: docker push ghcr.io/kirom123/380python-app:1.0
      - run: docker build -t ghcr.io/kirom123/380node-app:1.0 ./nodejs
      - run: docker push ghcr.io/kirom123/380python-app:1.0
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: ssh 'kirom123-lastpara-pd7i8uumqvo#4Y2LNJREhkPi0BBDdM_iLFW0weXpYbRJ@kirom123-lastpara-pd7i8uumqvo.ssh.ws-eu107.gitpod.io' -o "StrictHostKeyChecking no” “cd /workspace/nke-template && docker compose pull && docker-compose up -d”
      - run: scp 'kirom123-lastpara-pd7i8uumqvo#4Y2LNJREhkPi0BBDdM_iLFW0weXpYbRJ@kirom123-lastpara-pd7i8uumqvo.ssh.ws-eu107.gitpod.io' -o "StrictHostKeyChecking no” index.js:/workspace/nke-template
